.blog-page {
    padding-block: calc(var(--header-height) + 2.4rem) 6.4rem;

    @include media($bp-tablet) {
        padding-block: calc(var(--header-height) + 3.2rem) 7.4rem;
    }

    &__container {
        @include media($bp-desktop) {
            width: 94vw;
        }
    }


    &__title {
        text-transform: capitalize;
        margin-block-end: .4rem;

        @include media($bp-desktop) {
            margin-block-end: 4.4rem;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }

    &__search {
        @include media($bp-desktop) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }

    &__posts {
        gap: 1.6rem;

        @include media($bp-tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @include media($bp-wide) {
            gap: 3.2rem;
        }
    }

    &__posts-wr {
        @include media($bp-desktop) {
            grid-column: 2/3;
        } 
        
        &--single {
            @include media($bp-desktop) {
                grid-column: 2/3;
                grid-row: 1 / 5;

            } 
        }
    }

    &__sticky-post {
        @include media($bp-desktop) {
            // grid-row: 1/4;
            // grid-column: 2/3;
            grid-row: 1 / 4;
            grid-column: 2 / 3;
        }
    }

    &__cats {
        @include media($bp-desktop) {
            // grid-column: 1 / 2;
            // grid-row: 3 / 4;
            grid-column: 1 / 2;
            grid-row: span 4;
            max-height: 80dvh;
            position: sticky;
            top: var(--header-height);
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: .2rem;
                background-color: #F5F5F7;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #BBB;
            }
        }
    }

    &__newsletter {
        @include media($bp-tablet) {
            grid-column: span 2;
        }
    }

    &__load-more {
        margin-inline: auto;
        margin-block-start: 2.4rem;
        padding: 1em 1.5em;
        border: none;
        z-index: 1;

        @include media($bp-tablet) {
            margin-block-start: 6.4rem;
            padding: .8em .9em;
        }

        &.is-loading {
            pointer-events: none;
        }
    }

    &__content {
        gap: 1.6rem;

        @include media($bp-desktop) {
            grid-template-columns: 3fr 7fr;
            position: relative;
        }

        @include media($bp-wide) {
            gap: 3.2rem;
        }

        @include media($bp-full-hd) {
            grid-template-columns: 51rem auto;
        }

        &--search {
            @include media($bp-desktop) {
                .blog-page {
                    &__title {
                        grid-column: 1 / 3;
                    }

                    &__sticky-post, &__posts-wr--single { 
                        grid-row: 2 / 4;
                    }

                    
                }
            }
        }
    }
}
// End inner