// Breakpoints
$bp-mobile: 576px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-wide: 1280px;
$bp-full-hd: 1920px;

// Breakpoints
@mixin media($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}
// End Breakpoints

:root {
    // H's
    --fz-h1: clamp(18px, 7.5vw, 96px);
    @include media($bp-desktop) {--fz-h1: 5vw;}
    @include media(($bp-full-hd)) {--fz-h1: 96px;}

    --fz-h2: clamp(16px, 6.2vw, 60px);
    @include media($bp-desktop) {--fz-h2: 3.125vw;}
    @include media(($bp-full-hd)) {--fz-h2: 60px;}

    --fz-h3: clamp(14px, 4.2vw, 40px);

    --fz-h4: clamp(14px, 4.2vw, 24px);

    --fz-nav: 14px;
    @include media($bp-tablet) {--fz-nav: 16px;}
    @include media($bp-wide) {--fz-nav: 18px;}

    --fz-btn: 16px;
    @include media($bp-mobile) {--fz-btn: 18px;}
    @include media($bp-tablet) {--fz-btn: 20px;}
    @include media($bp-desktop) {--fz-btn: max(16px, 1.46vw);}
    @include media($bp-full-hd) {--fz-btn: 28px;}

    --fz-label: 12px;
    @include media($bp-mobile) {--fz-label: 14px;}

    --fz-p: 18px;

    --fz-title: clamp(16px, 4vw, 20px);
    @include media($bp-full-hd) {--fz-title: 20px;}

    --header-height: 80px;
    @include media($bp-mobile) {--header-height: 84px;}
    @include media($bp-tablet) {--header-height: 88px;}
    @include media($bp-desktop) {--header-height: 8.6vw;}
    @include media($bp-full-hd) {--header-height: 160px;}
}

body {
    font-size: 14px;

    @include media($bp-mobile) {
      font-size: 16px;
    }

    @include media($bp-desktop) {
      font-size: 18px;
    }
}

h1, h2, h3, h4, .btn {
    &.wp-block:not(.acf-block-component) {
        text-transform: none;
        margin-block: 0 1em;
    }
}

p.wp-block:not(.acf-block-component) {
    margin-block: 1em;
}

h1.wp-block:not(.acf-block-component) {
    font-size: var(--fz-h1);
}

h2.wp-block:not(.acf-block-component) {
    font-size: var(--fz-h2);
}

h3.wp-block:not(.acf-block-component) {
    font-size: var(--fz-h3);
}

h4.wp-block:not(.acf-block-component) {
    font-size: var(--fz-h4);
}

h5.wp-block:not(.acf-block-component) {
    font-size: var(--fz-title);
}

h6.wp-block:not(.acf-block-component) {
    font-size: var(--fz-nav);
}

ol.wp-block:not(.acf-block-component), 
ol.wp-block:not(.acf-block-component) > li {
    list-style-type: decimal;
}

ul.wp-block:not(.acf-block-component), 
ul.wp-block:not(.acf-block-component) > li {
    list-style-type: disc;
}

.block-editor-block-list__layout.is-root-container.wp-block-post-content > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: calc(100% - 40px);
}

