.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // overflow: hidden;
    overflow: clip;
}

.site-main {
    flex: 1 0 auto;
}

.container {
    max-width: 90vw;
    width: 100%;
    margin-inline: auto;

    @include media ($bp-desktop) {
        width: 83vw;
    }
    
    @include media($bp-full-hd) {
        max-width: 160rem;
    }
}

.cover-img {
    @include cover-image();
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}